---
interface Props {
	label: string;
    className?:string;
	href?: string;
}
const { href = 'HOLA', label, className = ''} = Astro.props;
---
<a href= {href} class = {className}>
    <span>{label}</span>
</a>


<style lang="scss">
    a{
        display: grid;
        place-content: center;
        cursor: pointer;
        height: 35px;
        padding: 0 2rem;    
        color: white;
        border-radius: 20px;
        border: none;
        background: var(--primary-button-color, #000);
        transition: .2s ease-in-out;
        width: max-content;
        font-size: .9rem;
        font-weight: 600;
        text-decoration: none;
        color: var(--font-button-color, white);

    }

    a:hover{
        background: var(--primary-button-color-hover, #fff);
        color: var(--font-button-color-hover, #000);
    }
</style>