---
interface Props {
	label: string;
    className?:string;
	href?: string;
}
const { href = 'HOLA', label, className = ''} = Astro.props;
---

<button class = {className}>
    <a href={href}> {label}</a>
</button>

<style lang="scss">
    button{
        cursor: pointer;
        height: 40px;
        width: auto;
        padding: 0 2rem;    
        color: white;
        border-radius: 20px;
        border: none;
        background: var(--primary-button-color, #000);
        transition: .2s ease-in-out;

        a{
            text-decoration: none;
            font-size: 1rem;
            font-weight: 700;
            color: var(--font-button-color, #fff);
        }
    }

    button:hover{
        background: var(--primary-button-color-hover, #fff);

        p{
            color: var(--font-button-color-hover, #000);
        }
    }
</style>