---
interface Props {
	label: string;
    className?:string;
	href?: string;
}
const { href = 'HOLA', label, className = ''} = Astro.props;
---

<button class = {className}>
    <a href={href}> {label}</a>
</button>

<style lang="scss">
    button{
        cursor: pointer;
        height: 35px;
        width: auto;
        padding: 0 1.5rem;    
        color: white;
        border-radius: 20px;
        border: none;
        background: var(--primary-button-color, #000);
        transition: .2s ease-in-out;
        font-size: .9rem;
        font-weight: 600;

        a{
            text-decoration: none;
            color: var(--font-button-color, #fff);
        }
    }

    button:hover{
        background: var(--primary-button-color-hover, #fff);

        a{
            color: var(--font-button-color-hover, #000);
        }
    }
</style>