---
interface Props {
	label: string;
	href?: string;
}
const { href = 'HOLA', label } = Astro.props;
---

<button class="sergi-button">
    <p>{label}</p>
</button>

<style lang="scss">
    .sergi-button{
        height: 40px;
        min-width: 100px;
        color: white;
        border-radius: 20px;
        border: none;
        background: var(--secondary-light-color);
    }

    .sergi-button:hover{
        background: var(--secondary-light-color);
    }
</style>