---
interface Props {
	label: string;
	href?: string;
}
const { href = 'HOLA', label } = Astro.props;
---

<button class="sergi-button">
    <p>{label}</p>
</button>

<style lang="scss">
    .sergi-button{
        cursor: pointer;
        height: 40px;
        width: auto;
        padding: 0 2rem;    
        color: white;
        border-radius: 20px;
        border: none;
        background: var(--primary-button-color, #000);
        transition: .2s ease-in-out;

        p{
            font-size: 1rem;
            font-weight: 700;
            color: var(--font-button-color, #fff);
        }
    }

    .sergi-button:hover{
        background: var(--primary-button-color-hover, #fff);

        p{
            color: var(--font-button-color-hover, #000);
        }
    }
</style>