---
const { tittle } = Astro.props
---

<div class="subtittle-container">
    <div class="line"></div>
    <slot></slot>
</div>

<style lang="scss">


    .subtittle-container{
        display: flex;
        align-items: center;
        background: var(--text-backgroundn-container, none);
    }

    .line{
        margin-top: 5px;
        width: 50px;
        height: 4px;
        border-radius: 20px;
        margin-right: 1rem;
        background: var(--subtittle-line-color, black);
    }
</style>