---
const { imageSrc, imageAlt, title, description, buttonText} = Astro.props
---

<div class="card">
    <div class="i-container">
     <i class="fi fi-rs-rocket-lunch"></i>
    </div>
    <div class="card-content">
        <h2 class="card-title">{title}</h2>
        <p class="card-description">{description}</p>
        <button class="card-button">{buttonText}</button>
    </div>
</div>

<style scoped lang="scss">
    /* Estilos para la tarjeta */
    .card {
      border: 1px solid #ddd;
      color: white;
      border-radius: 8px;
      padding: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .i-container{
      width: 100%;
      height: 200px;
      overflow: hidden;
      border-radius: 4px;

      i{
        width: 100%; /* La imagen ocupa el 100% del ancho del div */
        height: 100%; /* La imagen ocupa el 100% del alto del div */
      }
    }
  
    .card-image {
      max-width: 100%;
      height: auto;
    }
  
    .card-title {
      font-size: 1.5rem;
      margin: 16px 0;
    }
  
    .card-description {
      font-size: 1rem;
      margin-bottom: 16px;
    }
  
    .card-button {
      background-color: var(--secondary-light-color, white);
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
    }

    .card-button:hover{
      background-color: var(--secondary-light-color-hover, white);
    }
  
    /* Puedes personalizar los estilos según tus preferencias */
  </style>