---
const { tittle } = Astro.props
---

<div class="subtittle-container">
    <div class="line"></div>
    <p><slot></slot></p>
</div>

<style lang="scss">


    .subtittle-container{
        display: flex;
        align-items: center;
        background: var(--text-backgroundn-container, none);
        p {
            font-weight: 600;
            color: var(--text-content-color, black);
        }
    }

    .line{
        margin-top: 5px;
        width: 50px;
        height: 4px;
        border-radius: 20px;
        margin-right: 1rem;
        background: var(--text-content-color, black);
    }
</style>