---
const { tittle } = Astro.props
---

<div class="subtittle-container">
    <div class="line"></div>
    <slot name="text-label"></slot>
</div>

<style>


    .subtittle-container{
        display: flex;
        align-items: center;
    }

    .line{
        width: 50px;
        height: 4px;
        border-radius: 20px;
        background: black;
        margin-right: 1rem;
    }
</style>