---
import Rocket from "../Icons/Rocket.astro";
const { title, buttonText} = Astro.props
---

<div class="card">
    <div class="i-container">
      <Rocket></Rocket>
    </div>
    <div class="card-content">
        <h2 class="card-title">{title}</h2>
        <div class="card-description">
          <slot></slot>
        </div> 
        <button class="card-button">{buttonText}</button>
    </div>
</div>

<style scoped lang="scss">
    /* Estilos para la tarjeta */
    .card {
      border: 1px solid #ddd;
      color: white;
      border-radius: 8px;
      padding: 16px;
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: relative;
    }

    .card-description{
      margin-bottom: 2rem;
    }

    .card:hover{
      .card-content{
        animation: myshipIn .8s;
        left: 0px;
      }
      .i-container{
        animation: iconMoveOut .8s;
        right: 480px;
      }
    }

    .card-content{
      animation: myshipOut .8s;
      width: 100%;
      padding: 10%;
      height: 100%;
      display: grid;
      place-content: center;
      position: absolute;
      left: 460px;
    }
  
    .card-title {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  
    .card-description {
      font-size: 1rem;
      margin-bottom: 1.5rem;
    }
  
    .card-button {
      background-color: var(--secondary-light-color, white);
      color: #fff;
      border: none;
      padding: 10px 20px;
      justify-self: center;
      width: 70%;
      border-radius: 4px;
      cursor: pointer;
    }

    .i-container{
      animation: iconMoveIn .8s;
      display: flex;
      height: 100%;
      padding: 10%;
      justify-content: center;
      position: relative;
    }

    .card-button:hover{
      background-color: var(--secondary-light-color-hover, white);
    }

    @keyframes myshipIn{
    from {left: 480px;} 
    to{left:0px;} 
}

@keyframes myshipOut{
    from {left: 0px;} 
    to{left:480px;} 
}

@keyframes iconMoveOut{
    from {right: 0px;} 
    to{right:480px;} 
}

@keyframes iconMoveIn{
    from {right: 480px;} 
    to{right:0px;} 
}
  
  
    /* Puedes personalizar los estilos según tus preferencias */
  </style>