---
import SergiButton from '../SergiUnitComponents/Button.astro'
import SergiPanel from './SergiPanel.astro'
import SergiSubTittleText from '../SergiUnitComponents/SergiSubTittleText.astro';
---
<SergiPanel>
    <div class="panel-content" slot="panel-content">
        <div class="panel-grid">
            <div class="tittle-content">
                <div>
                    <SergiSubTittleText>
                        <h3 slot="text-label"> Welcome to my portfolio </h3>
                    </SergiSubTittleText>
                    <p> Electronic Engineer with 2+ year of experience in BackEnd microservices, frontend, MVC and embedded development. Currently, involved improving my knowledge cloud services architecture for better performance in client solutions.</p>
        
                    <SergiButton label='See more!'></SergiButton>
                </div>
            </div>
        
            <div class="photo-content">
                <img 
                src="https://media.canva.com/1/image-resize/1/535_550_100_PNG_F/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS9SeGNPTS9NQUZyVjdSeGNPTS8xL3AucG5n?osig=AAAAAAAAAAAAAAAAAAAAALoh7LVfsubEYGfESvINcailKjTBQtlP0NpStT1Z0SBq&exp=1692332034&x-canva-quality=thumbnail_large&csig=AAAAAAAAAAAAAAAAAAAAAGbMYZf2h5I6YRCBP2sC9ViDqXzrviVP_2vo1WPqZmVK"
                alt="Sergio Rodriguez"
                height="400px"
                >
            </div>
        </div>
    </div>
</SergiPanel>

<style lang="scss">

    .panel-content{
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100%;
        background-image: url(https://sergio-rodriguez.vercel.app/_next/static/media/fondoMain.418424f958c8c0e5292e74687fc2de33.jpg);
    }

    .panel-grid{
        width: 80%;
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
    }
    .tittle-content{
        width: 100%;
        display: flex;
        align-items: center;
        height: 100%; 

        h2 {
            line-height: 60px;
            font-size: 4rem;

            span{
                color: white;
                font-size: 5rem;
            }
        }

        p{
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }

    .photo-content{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        max-height: 600px;
        
        img{
            border-radius: 20px;
        }
    }
</style>