---
import SergiCard from "../SergiUnitComponents/SergiCard.astro";
import SergiSectionHeader from "../SergiUnitComponents/SergiSectionHeader.astro";
---

<section>
    <div class="content-grid">
        <SergiSectionHeader>
            <h2 slot="section-header">Projects</h2>
            <h3 slot="section-tittle">My work</h3>
            <h4 slot="section-subtittle"></h4>
        </SergiSectionHeader>   
        <div class="grid">
            <SergiCard
                imageSrc = 'https://imgs.search.brave.com/bur9cdOwhSVTkHYFbOw2Fmcq_AgyIcmo-b-fhcjYIrY/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9wbGF5/LWxoLmdvb2dsZXVz/ZXJjb250ZW50LmNv/bS9DaXZQS2l1blE4/aFFmMURabmptT1NM/bFdqcnJZVzNfbzkt/Yk1YOThnb3c2UlpS/U1UxdWtMVFpUUFNr/X0djVjdXbFE9dzUy/Ni1oMjk2LXJ3.jpeg'
                title = 'Hello'
                description = 'Esta es la descripción'
                buttonText = 'conoce másolp'
            /> 
            <SergiCard/> 
            <SergiCard/>  
        </div>
    </div>
</section>
            
<style lang="scss">
    section{
        min-height: 100vh;
        padding: 3rem 0 3rem 0;
        display: flex;
        align-items: center;
        background: black;
    }

    .content-grid{
        width: 80%;
        margin: 0 auto;

        .grid{
            display: grid;
            grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
            gap: 20px;
            margin-top: 2rem;
        }

        h2{
            color: var(--secondary-light-color, white);
        }
        h3{
            color: var(--white-font-color, white);
            font-size: 2.5rem;
        }
    }
</style>
