---
import SergiSubTittleText from "../SergiUnitComponents/SergiSubTittleText.astro";

---

<section id="aboutMe">
    <div class="grid">
        <div class="image-conatiner"></div>
        <div class="about-me-info">
            <div>
                <SergiSubTittleText>
                    <h2>About me</h2>
                </SergiSubTittleText>
                <h3>Sergio Rodriguez</h3>
                <h4>Electronic engineer</h4>
                <p>
                    Hi my name is Sergio, Electronic Engineer, I have 2+ year of experience in BackEnd microservices, frontend, MVC and embedded development. Currently, involved improving my knowledge cloud services architecture for better performance in client solutions. I work on different integration technologies, tools and frameworks like Node.js, .NET, N﻿ext.js, STM32, Azure DevOps, AWS Ecosystem and others. In process to expertises in project management and agile methodologies.
                    <br>
                    <br>
I have strong knowledge of DevOps practices and software life cycle. Applying this in ETB & BBVA apps like MiTEB, BBVA app, and backend services.
<br>
<br>
With a professional degree in Electronic engineer from Sergio Arboleda University, Bogotá (Colombia), AWS Cloud practitioner certification and AWS Developer Associate incoming, last but no less important English C1.
                </p>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    section{
        min-height: 100vh;
        padding: 3rem 0 3rem 0;
        background: black;
        display: grid;
        align-items: centerxssssssssssssssssssssssssssss;
    }

    .grid{
        width: 80%;
        height: 100%;
        display: grid;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 40% 60%;
    }

    .about-me-info{
        display: grid;
        align-items: center;
        width: 100%;
        --subtittle-line-color: var(--secondary-light-color, white);

        h2{
            color: var(--secondary-light-color, white);
        }
        h3{
            color: white;
            font-size: 2.5rem;
        }
        h4{
            font-size: 1.5rem;
            color: var(--secondary-light-color, white);
        }

        p{
            margin-top: 1rem;
            color: white;
        }
    }

    @media (max-width: 992px){
        .grid{
            grid-template-columns: 100%;
            .image-conatiner{
                display: none;
            }
        }
    }
</style>
