---
import SergiButton from '../../components/SergiUnitComponents/Button.astro'
---

<div class="tittle-content">
    <div>
        <h2>Hello i'm <span>Sergio</span></h2>
        <p> Electronic Engineer with 2+ year of experience in BackEnd microservices, frontend, MVC and embedded development. Currently, involved improving my knowledge cloud services architecture for better performance in client solutions.</p>

        <SergiButton label='See more!'></SergiButton>
    </div>
</div>

<div class="photo-content">
    <img 
    src="https://media.canva.com/1/image-resize/1/535_550_100_PNG_F/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS9SeGNPTS9NQUZyVjdSeGNPTS8xL3AucG5n?osig=AAAAAAAAAAAAAAAAAAAAALoh7LVfsubEYGfESvINcailKjTBQtlP0NpStT1Z0SBq&exp=1692332034&x-canva-quality=thumbnail_large&csig=AAAAAAAAAAAAAAAAAAAAAGbMYZf2h5I6YRCBP2sC9ViDqXzrviVP_2vo1WPqZmVK"
    alt="Sergio Rodriguez"
    height="400px"
    >
</div>

<style lang="scss">
    .tittle-content{
        display: flex;
        padding-top: var(--nav-bar-height);
        align-items: center;
        height: 100vh;
        max-height: 600px;
        grid-column: 1/8;   

        h2 {
            line-height: 60px;
            font-size: 4rem;

            span{
                color: var(--secondary-light-color);
                font-size: 5rem;
            }
        }

        p{
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }

    .photo-content{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: var(--nav-bar-height);
        grid-column: 8/14;  
        max-height: 600px;
        
        img{
            border-radius: 20px;
        }
    }

    @media (max-width:100px)  { 
        /* smartphones, Android phones, landscape iPhone */ 

    }

    @media (max-width:340px)  { 
        /* smartphones, Android phones, landscape iPhone */ 
        .grid{
            grid-template-columns: repeat(5, 2.5rem);
        }
    }
    @media (max-width: 641px)  { 
        /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
        .grid{
            grid-template-columns: repeat(8, 2.5rem);
        }
    }
    @media (max-width:961px) { 
        /* big landscape tablets, laptops, and desktops */ 
        .tittle-content{
            grid-column: 1/5;
        }

        .photo-content{
            grid-column: 5/9;
        }
    }
</style>