---
import SergiLink from '../../components/SergiUnitComponents/Button.astro'

const navList = ['Home', 'About me', 'Experience', 'Projects']
---

<div id='nav' class="nav-main-container main-content-animation">
    <nav class="nav-content-conatiner">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96.97 67.13" width="35"  fill="#ffffff"><g data-name="Layer 2"><g data-name="Layer 1"><path d="M95.83 19.66L70.39.57a2.83 2.83 0 00-4.53 2.27V41a2.83 2.83 0 004.53 2.27l25.44-19.08a2.82 2.82 0 000-4.53z"></path><path d="M79.34 53.1l-12.79 9.42a2.55 2.55 0 001.51 4.61h25.58a2.55 2.55 0 001.51-4.61L82.36 53.1a2.55 2.55 0 00-3.02 0z"></path><path d="M51.16 67.13H3.35C1 67.13-.17 64.9 1.49 63.6L48.06 27c2.11-1.66 5.73-.49 5.73 1.86v36.2a2.4 2.4 0 01-2.63 2.07zM2.86.34h52.06c2.55 0 3.83 2.42 2 3.84L6.23 44C3.93 45.82 0 44.54 0 42V2.59C0 1.35 1.28.34 2.86.34z"></path></g></g></svg>
        <ul class="list-conatiner">
            { navList.map( label => <li class="nav-item"> <SergiLink label={label}></SergiLink> </li>)}
        </ul>
        <div class="contact-button-container">
            <SergiLink label='Contact'></SergiLink>
        </div>
    </nav>
</div>

<script>
    const nav = document.querySelector('#nav')
    window.addEventListener('scroll', () => {
        if(window.scrollY > 0){
            nav?.classList.add('blurred')
        }else{
            nav?.classList.remove('blurred')
        }
    })
</script>

<style lang="scss">

    .nav-main-container{
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
    }

    .main-content-animation{
        height: 70px;
        transition: all .1s ease-in;

        svg{
            align-self: center;
        }
    }

    .blurred{
        height: 50px;
        background: #ffffff22;
        backdrop-filter: blur(10px);
    }

    .nav-item{
        margin-right: 1rem;
        --primary-button-color: none;   
        --font-button-color: white;
        --primary-button-color-hover: white;
        --font-button-color-hover: var(--secondary-light-color);
    }

    .nav-content-conatiner{
        width: 80%;
        display: grid;
        grid-template-columns: 10% 75% 15%;
        h1{
            justify-content: flex-start;
        }
        ul{
            margin-left: 3rem;
            align-items: center;
            display: flex;
            justify-self: flex-end;
            list-style: none;
            
            li{
                color: var(--white-font-color);
            }
        }
    }

    .contact-button-container{
        display: grid;
        align-items: center;
        justify-content: flex-end;
    }

    @media (max-width: 992px) {

        .nav-main-container{
            width: 100%;
        }
        .nav-content-conatiner{
            .list-conatiner{
                display: none;
            }
            .contact-button-container {
                grid-column: 2/3;
            }
        }
    }
</style>