---
import SergiButton from '../SergiUnitComponents/Button.astro'
import SergiPanel from './SergiPanel.astro'
import SergiSubTittleText from '../SergiUnitComponents/SergiSubTittleText.astro';
---
<SergiPanel>
    <div class="panel-content" slot="panel-content">
        <div class="panel-grid">
            <div class="tittle-content">
                <div>
                    <SergiSubTittleText>
                        <p slot="text-label" class="welcome-text"> Welcome to mi portfolio </p>
                    </SergiSubTittleText>
                    <h2> Sergio Rordriguez</h2>
        
                    <SergiButton className='see-more-button' label='See more!'></SergiButton>
                </div>
            </div>
        
            <div class="photo-content">
                <img 
                src="/images/SergioFace.png"
                alt="Sergio Rodriguez"
                height="350px"
                >
            </div>
        </div>
    </div>
</SergiPanel>

<style lang="scss">

    .panel-content{
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100%;
        background-image: url(https://sergio-rodriguez.vercel.app/_next/static/media/fondoMain.418424f958c8c0e5292e74687fc2de33.jpg);
    }

    .panel-grid{
        width: 80%;
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
    }

    .see-more-button{
        margin-top: 1rem;
    }

    .welcome-text{
        font-size: 1.1rem;
        font-weight: bold;
    }
    .tittle-content{
        width: 100%;
        display: flex;
        align-items: center;
        height: 100%; 

        h2 {
            line-height: 80px;
            font-size: 5.1rem;
            color: white;
        }
    }

    .photo-content{
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 600px;
        
        img{
            height: 65vh;
            border-radius: 20px;
        }
    }
</style>