---

---

<div class = "header">
    <nav class="grid nav-conatiner">
      <p> hola </p>
    </nav>
</div>

<style>
    .header{
        display: grid;
        align-items: center;
        width: 100%;
        height: 4rem;
        background: var(--primary-light-background-color);
        
    }

    .nav-conatiner{
        color: var(--secondary-light-color);
    }
</style>