---
import LinkedInIcon from'../Icons/LinkedIn.astro'
import GithubIcon from "../Icons/Github.astro";
---

<div class="social-container">
    <div class="line"></div>
    <span class="icon"><a href="https://www.linkedin.com/in/sergiorodriguezp/" target="_blank" rel="noopener noreferrer" class="svg-container"> <LinkedInIcon class='icon'></LinkedInIcon> </a></span>
    <span class="icon"><a href="https://github.com/Sergiorodp" target="_blank"> <GithubIcon></GithubIcon></a></span>
</div>

<style lang="scss">

    .social-container{
        height: 100%;
        width: 5%;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .line{
        background: var(--secondary-light-color);
        height: 50px;
        width: 4px;
        border-radius: 20px;
        margin-bottom: 1rem;
    }
    
    .icon{
        height: 40px;
        color: var(--secondary-light-color);
        transition: color .2s ease-in-out;
    }

    .icon:hover{
        color: var(--primary-light-background-color);
    }


</style>