---
//Layout
import SergiLayout from '../layouts/SergiLayout.astro';

// Compose Components
import SergiNav from '../components/SergiComposeComponents/SergiNav.astro'

import SergiButton from '../components/SergiUnitComponents/Button.astro'
---
<SergiLayout title='HelloAstro'>

  <SergiNav slot='header-slot'></SergiNav>

  <div class = "content-slot" slot="content-slot">
    <p>Hola</p>
  </div>
  <div class = "content-slot" slot="content-slot">
    <p>Hola</p>
  </div>
</SergiLayout>

<style lang="scss">
  div{
    color: azure;
    grid-column: 1/4;
  }
</style>