---
---

<div class='icon-container'>
    <slot/>
</div>

<style lang="scss">
    .icon-container{
        color: var(--svg-color, white)
    }

    .icon-container:hover{
        color: var(--svg-hover-color, #d1d1d1)
    }
</style>