---
import SergiSubTittleText from '../../SergiUnitComponents/SergiSubTittleText.astro';
import SergiPanel from '../SergiPanel.astro'
---
<div class='container'>
        <section class="main-skills">
            <div class='skills-container'>
                <SergiSubTittleText>Holi</SergiSubTittleText>
                <SergiSubTittleText class='hello'>Como estan</SergiSubTittleText>
            </div>
        </section>
<div>

<style lang='scss'>

    .main-skills{
        display: grid;
        background-image: linear-gradient(to right, black 60%, rgba(255,0,0,0) 40%);
        height:100px;

        .skills-container{
            width: 80%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin: 0 auto;
            --text-content-color: var(--primary-light-background-color, white);
        }
    }

    

</style>

