---
import SergiSubTittleText from '../../SergiUnitComponents/SergiSubTittleText.astro';
import SergiPanel from '../SergiPanel.astro'
---
<div class='container'>
        <section class="main-skills">
            <div class='skills-container'>
                <div class="column colum-one">
                    <SergiSubTittleText>
                        <span>CREATIVITY</span>
                    </SergiSubTittleText>
                </div>
                <div class="column colum-two">
                    <SergiSubTittleText>
                        <span>TEAM WORK</span>
                    </SergiSubTittleText>
                </div>
                <div class="column colum-three">
                    <SergiSubTittleText>
                        <span>LEADERSHIP</span>
                    </SergiSubTittleText>
                </div>
            </div>
        </section>
<div>

<style lang='scss'>

    .main-skills{
        display: grid;
        background-image: linear-gradient(to right, black 60%, rgba(255,0,0,0) 40%);
        height:100px;

        .skills-container{
            width: 80%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin: 0 auto;
            --text-content-color: var(--primary-light-background-color, white);
            span{
                color: white;
                font-weight: bold;
            }
            .column{
                display: grid;
                --subtittle-line-color: var(--secondary-light-color, white);
            }
            .colum-two{
                display: grid;
                background: black;
                margin-left: 1rem;
            }

            .colum-three{
                --subtittle-line-color: white;
                display: grid;
                justify-content: center;
            }
            
        }
    }

    

</style>

