---
import SergiPanel from '../SergiPanel.astro'
---
<div class='container'>
        <section class="main-skills" slot='panel-content'>
            <p> Hello Yo</p>
        </section>
<div>

<style lang='scss'>

    .main-skills{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        background-image: linear-gradient(to right, black 50%, rgba(255,0,0,0) 50%);
        height:100px;
    }

</style>

