--- 
import "@fontsource/open-sans/600.css";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
        <section>
            <slot name="header-slot"/>
        </section>
        <section class="grid content">
            <slot name="content-slot"/>
        </section>
	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);

        --primary-light-background-color: #F5F5F4;
        --secondary-light-color: #B44C3B;
	}
	html {
		font-family: system-ui, sans-serif;
		background: var(--primary-light-background-color);
		background-size: 224px;
	}

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
	code {
		font-family: 'Open Sans', sans-serif
	}

    .grid{
        display: grid;
        grid-template-rows: max-content;
        column-gap: 2rem;
        max-width: 1200px;
        justify-content: center;
        margin: 0 auto 0 auto;
    }

    .content{
        height: 100%;
    }

    @media (min-width:100px)  { 
        /* smartphones, Android phones, landscape iPhone */ 
        .grid{
            grid-template-columns: repeat(4, 2.5rem);
        }
    }

    @media (min-width:340px)  { 
        /* smartphones, Android phones, landscape iPhone */ 
        .grid{
            grid-template-columns: repeat(5, 2.5rem);
        }
    }
    @media (min-width: 641px)  { 
        /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
        .grid{
            grid-template-columns: repeat(8, 2.5rem);
        }
    }
    @media (min-width:961px) { 
        /* big landscape tablets, laptops, and desktops */ 
        .grid{
            grid-template-columns: repeat(13, 2.5rem);
        }
    }

</style>