--- 
import "@fontsource/open-sans/600.css";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
        <div class="main-panel">
            <section class="static-links">
                <slot name="static-links-slot"></slot>
            </section>
            <section id='dinamicPage' class="dinamyc-page">  
                <slot class="header" name="header-slot"/>
                <section class="content">
                    <slot name="content-slot"/>
                </section>
            </section>
        </div>
	</body>
</html>

<script>
    const dinamicColumn = document.querySelector('#dinamicPage')
    dinamicColumn?.addEventListener('scroll', () => {
        _fireEvent('dinamic-column-scroll', dinamicColumn.scrollTop)
    })

    function _fireEvent(name : string, detail : any) {
        window.dispatchEvent( new CustomEvent( name , {
            detail
        }) )
    }
</script>


<style is:global lang="scss">
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);

        --primary-light-background-color: #f6f6f6;
        --secondary-light-color: #6D77F5;
        --secondary-light-color-hover: #6D77F5BB;
        --white-font-color: #ffffff;

        --nav-bar-height : 4rem;
	}

	html {
		font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
		background: var(--primary-light-background-color);
		background-size: 224px;
	}

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .main-panel{
        display: grid;
        height: 100vh;
        overflow-y: hidden;
        overflow-x: hidden;
        grid-template-columns: 5% 95%;
    }

    .static-links{
        background: black;
    }

    body{
        background: var(--secondary-light-color);
    }

    .dinamyc-page{
        overflow-y: scroll;
        justify-self: center;
        width: 100%;

        .header{
            width: 100%;
        }
    }

    .content{
        height: 100%;
    }

    @media (max-width: 992px) {
        .main-panel{
            grid-template-columns: 100%;

            .static-links{
                display: none;
            }
        }
    }

</style>